<mat-toolbar>
    <a mat-button routerLink="/home" style="font-size: large;">Home</a>
    <a mat-button routerLink="/covid" style="font-size: large;">Covid-Dashboard</a>
    <a mat-button routerLink="/calendar" style="font-size: large;">Calendar</a>
    <a mat-button routerLink="/chart" style="font-size: large;">Charts</a>
    <h1 style="margin-left: auto;color: #3f51b5;font-size: xx-large;">TABLEAU</h1>
    <!-- <h1 style="margin-left: auto;">{{myDate | date:"h:mm:ss a"}}</h1> -->
</mat-toolbar>